<app-header title="Iniciar sesion"></app-header>
<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>

      <app-custom-input icon="mail-outline" autocomplete="email"  [control]="form.controls.email" type="email" label="Ingresa tu correo"></app-custom-input>
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
      </div>

      <app-custom-input icon="lock-closed-outline" autocomplete="password"  [control]="form.controls.password" type="password" label="Ingresa tu contraseña"></app-custom-input>
      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>
      <div class="password-recovery">
        <p class="ion-text-mid">Olvidaste tu contraseña?&nbsp;</p>
        <p color="success" routerLink="forgot-password" class="ion-text-mid" style="color: blue;">Recupérala.</p>
      </div>

      
      <ion-button color="tertiary" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid" fill="outline">
        <ion-text color="dark">Iniciar sesión</ion-text>
        <ion-icon color="dark" slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      
        <p class="ion-text-mid" style="display: inline-block;">No tienes cuenta?&nbsp;</p>
        <p color="success" routerLink="sign-up" class="ion-text-mid" style="display: inline-block; color: blue;">Crea una</p>
    </form>
  </div>
</ion-content>


