.calendar-number-outline {
  font-size: 80px;
  margin-bottom: 40px;
  color: rgb(0, 0, 0);
}

h1{
  margin-bottom: 0;
  color: rgb(0, 0, 0)  ;
}
.image-container {
  width: 140px; /* Ajusta el ancho según tus necesidades */
  height: 140x; /* Ajusta la altura según tus necesidades */
  margin-bottom: 0;
  display: inline-block;

}